<template>
    <div class="mb-8">
        <!-- Class overview -->
        <div class="flex items-center mb-3">
            <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __(':resource Details', {'resource': __('Klassen')}) }}: {{ singleClass.name }}</h1>
        </div>
        <div class="card mb-6 pt-3 px-6">
            <div class="flex border-b border-40 -mx-6 px-6" id="single-class-name">
                <div class="w-1/4 py-4">
                    <h4 class="font-normal text-80">{{ __('Name der Klasse') }}</h4>
                </div>
                <div class="w-3/4 py-4 break-words">
                    <p class="text-90">
                        {{ singleClass.name }}
                    </p>
                </div>
            </div>
            <div class="flex border-b border-40 -mx-6 px-6">
                <div class="w-1/4 py-4">
                    <h4 class="font-normal text-80">{{ __('Schuljahr') }}</h4>
                </div>
                <div class="w-3/4 py-4 break-words">
                    <p v-if="singleClass.last_participated_challenge_year" class="text-90">
                        {{ singleClass.last_participated_challenge_year - 1 }} / {{ singleClass.last_participated_challenge_year }}
                    </p>
                    <p v-else-if="singleClass.created_year" class="text-90">{{ singleClass.created_year }}</p>
                </div>
            </div>
            <div class="flex border-b border-40 -mx-6 px-6">
                <div class="w-1/4 py-4">
                    <h4 class="font-normal text-80">{{ __('Schüleranzahl') }}</h4>
                </div>
                <div class="w-3/4 py-4 break-words">
                    <p class="text-90">
                        {{ singleClass.number_of_people }}
                    </p>
                </div>
            </div>
            <div class="flex border-b border-40 -mx-6 px-6">
                <div class="w-1/4 py-4">
                    <h4 class="font-normal text-80 my-1">{{ __('Anmeldestatus') }}</h4>
                </div>
                <div class="w-3/4 py-4 break-words">
                    <button v-if="classRegisteredStatus === false && signupChallenge !== null" id="challenge-signup-status" class="btn btn-default btn-primary items-center"  @click.prevent="openRegisterModal()">
                        {{ __('zur Aktion :aktion anmelden', {'aktion': signupChallenge.description.de}) }}
                    </button>
                    <p v-else-if="classRegisteredStatus && studentsRegistered === false" id="challenge-signup-status" class="text-90 my-1">
                        <span class="whitespace-no-wrap px-4 py-2 rounded-full uppercase text-xs font-bold bg-yellow-500 text-white">
                            {{ __('Klasse angemeldet Schülerzahl ausständig') }}
                        </span>
                    </p>
                    <p v-else-if="classRegisteredStatus && studentsRegistered" id="challenge-signup-status" class="text-90 my-1">
                        <span class="whitespace-no-wrap px-4 py-2 rounded-full uppercase text-xs font-bold bg-green-500 text-white">
                            {{ __('zu Aktion :aktion angemeldet', {'aktion': signupChallenge.description.de}) }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Modals -->
        <portal to="modals">
            <transition name="fade">
                <search-student-modal
                    v-if="searchModalOpen"
                    @close-search-modal="closeSearchStudentModal"
                    @add-student="addStudent($event, singleClass.id)"
                />
                <register-to-challenge-modal
                    v-if="modalOpen"
                    :challenge-name="signupChallenge.description.de"
                    :challenge-id="signupChallenge.id"
                    :class-name="singleClass.name"
                    :class-id="singleClass.id"
                    @confirm="confirmSignUpModal"
                    @close="closeRegisterModal"
                />
                <import-students-from-excel-modal
                    v-if="importStudentsModal"
                    @confirm="confirmImportStudentsModal"
                    @close="closeImportStudentsModal"
                />
                <delete-student-modal
                    v-if="studentDeleteModalOpen"
                    :student-name="deletingStudentName"
                    @confirm="confirmDeleteStudentModal"
                    @close="closeDeleteStudentModal"
                />
            </transition>
        </portal>
        <!-- Create and attach student buttons -->
        <div class="flex items-center mb-3">
            <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('Teilnehmer') }}</h1>
        </div>
        <div v-if="classRegisteredStatus" class="flex items-center mb-6">
            <button class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-3" @click.prevent="openImportStudentsModal">{{ __('Teilnehmer aus Excel importieren') }}</button>
            <button class="btn btn-default btn-primary inline-flex items-center relative mr-3" @click.prevent="openSearchStudentModal()">{{ __('bestehende Teilnehmer hinzufügen') }}</button>
            <router-link
                class="btn btn-default btn-primary inline-flex items-center relative"
                :to="{
                    name: 'fwb-school-organisation.student.create',
                    title: 'Create student',
                    params: {
                        id: singleClass.id
                    }
                }"
                title="Create student"
                id="create-student-button"
            >
                {{ __('New :resource', {'resource': __('Teilnehmer')}) }}
            </router-link>
        </div>

        <div class="flex items-center w-full" id="students-table"><span></span></div>
        <!-- Filtering part -->
        <div class="card -mb-1">
            <div class="flex items-center py-3 border-b border-50">
                <div class="flex items-center ml-auto px-3">
                    <div class="v-popover">
                        <button
                            @click.prevent="toggleDropdown"
                            type="button"
                            staticClass="rounded active:outline-none active:shadow-outline focus:outline-none focus:shadow-outline"
                            ref="filterButton"
                        >
                            <div class="dropdown-trigger h-dropdown-trigger flex items-center cursor-pointer select-none bg-30 px-3 border-2 border-30 rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="filter" role="presentation" class="fill-current text-80"><path fill-rule="nonzero" d="M.293 5.707A1 1 0 0 1 0 4.999V1A1 1 0 0 1 1 0h18a1 1 0 0 1 1 1v4a1 1 0 0 1-.293.707L13 12.413v2.585a1 1 0 0 1-.293.708l-4 4c-.63.629-1.707.183-1.707-.708v-6.585L.293 5.707zM2 2v2.585l6.707 6.707a1 1 0 0 1 .293.707v4.585l2-2V12a1 1 0 0 1 .293-.707L18 4.585V2H2z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" class="ml-2"><path fill="var(--90)" d="M8.292893.292893c.390525-.390524 1.023689-.390524 1.414214 0 .390524.390525.390524 1.023689 0 1.414214l-4 4c-.390525.390524-1.023689.390524-1.414214 0l-4-4c-.390524-.390525-.390524-1.023689 0-1.414214.390525-.390524 1.023689-.390524 1.414214 0L5 3.585786 8.292893.292893z"></path></svg>
                            </div>
                        </button>
                        <div v-if="dropdownVisible" v-on-clickaway="closeDropdown" aria-hidden="false" tabindex="0" class="z-50 open mr-8" style="visibility: visible; position: absolute; right: 0" x-placement="top-start">
                            <div style="position: relative;">
                                <div class="select-none overflow-hidden bg-white border border-60 shadow rounded-lg" direction="rtl" dark="true" style="width: 290px;">
                                    <div class="scroll-wrap overflow-x-hidden overflow-y-auto" style="max-height: 350px;">
                                        <div>
                                            <h3 class="text-sm uppercase tracking-wide text-80 bg-30 p-3">
                                                {{ __('Aktion') }}
                                            </h3>
                                            <div>
                                                <label class="flex items-center select-none m-2">
                                                    <input type="checkbox"
                                                           v-model="registeredOnly"
                                                           class="checkbox mr-2"
                                                           @change="filterRegisteredOnly"
                                                    >
                                                    {{ __('zur aktuellen :aktion angemeldet', { 'aktion': signupChallenge.description.de }) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Students list -->
        <loading-view :loading="initialLoading">
            <loading-card :loading="loading">
                <table v-if="Object.keys(students).length > 0"
                       class="table w-full table-default"
                       cellpadding="0"
                       cellspacing="0"
                       data-testid="resource-table"
                >
                    <thead>
                        <tr>
                            <th class="text-left">{{ __('id') }}</th>
                            <th class="text-left">{{ __('Vorname') }}</th>
                            <th class="text-left">{{ __('Nachname') }}</th>
                            <th class="text-left">{{ __('aktuelle km') }}</th>
                            <th class="text-left">{{ __('letzter Eintrag') }}</th>
                            <th class="text-left">{{ __('Anmeldestatus') }}</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(student, index) in students">
                            <td>
                                <router-link
                                    class="no-underline dim text-primary font-bold"
                                    :to="{
                                        path: `/resources/people/${student.id}`,
                                        title: 'View Student',
                                    }"
                                    title="View Student"
                                >
                                    {{ student.id }}
                                </router-link>
                            </td>
                            <td>{{ student.firstname }}</td>
                                
                            <td>{{ student.lastname}}</td>

                            <td v-if="student.challenge_statistics">
                                {{ student.challenge_statistics.km_total }} km
                            </td>
                            <td v-else>-</td>

                            <td v-if="student.latest_ride">
                                {{ student.latest_ride }}
                            </td>
                            <td v-else>-</td>

                            <td v-if="student.registered" class="w-1/6" id="student-signup-status">
                                <span class="whitespace-no-wrap px-4 py-2 rounded-full uppercase text-xs font-bold bg-green-500 text-white">
                                    {{ __('zu Aktion angemeldet', {'aktion': signupChallenge.description.de}) }}
                                </span>
                            </td>
                            <td v-else class="w-1/6" id="student-signup-status">
                                <div class="inline-flex items-center">
                                    <span class="whitespace-no-wrap px-3 py-1 rounded-full uppercase text-xs font-bold bg-red-600 text-white">
                                        {{ __('nicht angemeldet') }}
                                    </span>
                                    <form @submit.prevent="registerStudentToChallenge(singleClass.id, student.id)">
                                        <button type="submit" class="btn btn-default btn-primary items-center ml-12">{{ __('anmelden') }}</button>
                                    </form>
                                </div>
                            </td>
                            <td class="w-1/6 td-fit text-right pr-6 align-middle">
                                <div class="inline-flex items-center">
                                    <span v-if="student.impersonation">
                                        <a class="cursor-pointer text-70 hover:text-primary"
                                           @click.prevent="impersonate(student)"
                                           :title="__('in Profil einloggen')"
                                        >
                                            <svg
                                                width="22"
                                                height="18"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 448 512"
                                            >
                                                <path
                                                    fill="currentColor"
                                                    d="M383.9 308.3l23.9-62.6c4-10.5-3.7-21.7-15-21.7h-58.5c11-18.9 17.8-40.6 17.8-64v-.3c39.2-7.8 64-19.1 64-31.7 0-13.3-27.3-25.1-70.1-33-9.2-32.8-27-65.8-40.6-82.8-9.5-11.9-25.9-15.6-39.5-8.8l-27.6 13.8c-9 4.5-19.6 4.5-28.6 0L182.1 3.4c-13.6-6.8-30-3.1-39.5 8.8-13.5 17-31.4 50-40.6 82.8-42.7 7.9-70 19.7-70 33 0 12.6 24.8 23.9 64 31.7v.3c0 23.4 6.8 45.1 17.8 64H56.3c-11.5 0-19.2 11.7-14.7 22.3l25.8 60.2C27.3 329.8 0 372.7 0 422.4v44.8C0 491.9 20.1 512 44.8 512h358.4c24.7 0 44.8-20.1 44.8-44.8v-44.8c0-48.4-25.8-90.4-64.1-114.1zM176 480l-41.6-192 49.6 32 24 40-32 120zm96 0l-32-120 24-40 49.6-32L272 480zm41.7-298.5c-3.9 11.9-7 24.6-16.5 33.4-10.1 9.3-48 22.4-64-25-2.8-8.4-15.4-8.4-18.3 0-17 50.2-56 32.4-64 25-9.5-8.8-12.7-21.5-16.5-33.4-.8-2.5-6.3-5.7-6.3-5.8v-10.8c28.3 3.6 61 5.8 96 5.8s67.7-2.1 96-5.8v10.8c-.1.1-5.6 3.2-6.4 5.8z"
                                                />
                                            </svg>
                                        </a>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <router-link
                                            class="cursor-pointer text-70 hover:text-primary"
                                            :to="{
                                                path: `/resources/people/${student.id}`,
                                                title: 'View Student',
                                            }"
                                            :title="__('Person anzeigen')"
                                        >
                                            <icon type="view" width="22" height="18" view-box="0 0 22 16" />
                                        </router-link>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <router-link
                                            class="cursor-pointer text-70 hover:text-primary"
                                            :to="{
                                                path: `/resources/people/${student.id}/edit?viaResource&viaResourceId&viaRelationship`,
                                                title: 'Edit student',
                                            }"
                                            :title="__('Person bearbeiten')"
                                        >
                                            <icon type="edit" width="20" height="20" view-box="0 0 20 20" />
                                        </router-link>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <a @click.prevent="openDeleteStudentModal(student)"
                                           class="cursor-pointer text-70 hover:text-primary"
                                           :title="__('Profil löschen')"
                                        >
                                            <icon type="delete" width="20" height="20" view-box="0 0 20 20" />
                                        </a>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span v-if="student.registered" class="inline-flex">
                                        <a class="cursor-pointer text-70 hover:text-primary" @click.prevent="signOffStudent(student.id)" :title="__('Abmeldung von der Aktion')">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                                <path fill="currentColor" d="M9 12A5 5 0 1 1 9 2a5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm8 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h5a5 5 0 0 1 5 5v2zm5-10a1 1 0 0 1-1 1h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1z"/>
                                            </svg>
                                        </a>
                                    </span>&nbsp;&nbsp;&nbsp;
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else class="relative border-b border-50">
                    <div class="flex justify-center items-center px-6 py-8">
                        <div class="text-center">
                            <svg
                                class="mb-3"
                                xmlns="http://www.w3.org/2000/svg"
                                width="65"
                                height="51"
                                viewBox="0 0 65 51"
                            >
                                <path
                                    fill="#A8B9C5"
                                    d="M56 40h2c.552285 0 1 .447715 1 1s-.447715 1-1 1h-2v2c0 .552285-.447715 1-1 1s-1-.447715-1-1v-2h-2c-.552285 0-1-.447715-1-1s.447715-1 1-1h2v-2c0-.552285.447715-1 1-1s1 .447715 1 1v2zm-5.364125-8H38v8h7.049375c.350333-3.528515 2.534789-6.517471 5.5865-8zm-5.5865 10H6c-3.313708 0-6-2.686292-6-6V6c0-3.313708 2.686292-6 6-6h44c3.313708 0 6 2.686292 6 6v25.049375C61.053323 31.5511 65 35.814652 65 41c0 5.522847-4.477153 10-10 10-5.185348 0-9.4489-3.946677-9.950625-9zM20 30h16v-8H20v8zm0 2v8h16v-8H20zm34-2v-8H38v8h16zM2 30h16v-8H2v8zm0 2v4c0 2.209139 1.790861 4 4 4h12v-8H2zm18-12h16v-8H20v8zm34 0v-8H38v8h16zM2 20h16v-8H2v8zm52-10V6c0-2.209139-1.790861-4-4-4H6C3.790861 2 2 3.790861 2 6v4h52zm1 39c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8z"
                                />
                            </svg>
                            <h3 class="text-base text-80 font-normal mb-6">{{ __('Keine :resource vorhanden', {'resource': __('Teilnehmer')}) }}</h3>
                            <div>
                                <router-link
                                    class="btn btn-sm btn-outline inline-flex items-center focus:outline-none focus:shadow-outline active:outline-none active:shadow-outline"
                                    :to="{
                                        name: 'fwb-school-organisation.student.create',
                                        params: {
                                            id: singleClass.id
                                        }
                                    }"
                                    :title="__('Create :resource', {'resource': __('Teilnehmer')})"
                                >
                                    {{ __('Create :resource', {'resource': __('Teilnehmer')}) }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </loading-card>
        </loading-view>
    </div>
</template>

<script>
import RegisterToChallengeModal from './RegisterToChallengeModal.vue';
import SearchStudentModal from '../Students/SearchStudentModal.vue';
import ImportStudentsFromExcelModal from '../Students/ImportStudentsFromExcelModal.vue';
import DeleteStudentModal from '../Students/DeleteStudentModal.vue';
import { mixin as clickaway } from 'vue-clickaway'

export default {
    data() {
        return {
            initialLoading: true,
            loading: true,
            singleClass: {},
            students: {},
            signupChallenge: {},
            classRegisteredStatus: '',
            studentsRegistered: '',
            modalOpen: false,
            searchModalOpen: false,
            classId: '',
            challengeId: '',
            importStudentsModal: false,
            guard: 'web',
            dropdownVisible: false,
            registeredOnly: false,
            studentDeleteModalOpen: false,
            deletingStudentId: '',
            deletingStudentName: '',
        }
    },
    mixins: [clickaway],
    components: {
        RegisterToChallengeModal,
        SearchStudentModal,
        ImportStudentsFromExcelModal,
        DeleteStudentModal,
    },
    methods: {
        /**
         * Get class
         */
        getClass() {
            Nova.request().get(`/nova-vendor/fwb-school-organisation/class/${this.$route.params.id}`)
                .then((response) => {
                    this.singleClass = response.data;
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Get students within class
         */
        getStudents() {
            let path;
            if (this.registeredOnly === true) {
                path = `/nova-vendor/fwb-school-organisation/${this.$route.params.id}/students/withCurrentChallengeRegistration`;
            } else {
                path = `/nova-vendor/fwb-school-organisation/${this.$route.params.id}/students`;
            }
            Nova.request().get(path)
                .then((response) => {
                    this.students = response.data;
                    this.initialLoading = false;
                    this.loading = false;
                }).then(() => {
                    setTimeout(function () {
                        Nova.$emit('shepherd-class-data-loaded');
                    }, 20000);
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Get signup status of class for the challenge
         */
        getClassSignupStatus() {
            Nova.request().get(`/nova-vendor/fwb-school-organisation/class/${this.$route.params.id}/signup-status`)
                .then((response) => {
                    this.signupChallenge = response.data.challenge;
                    this.classRegisteredStatus = response.data.registered;
                    this.studentsRegistered = response.data.studentsRegistered;
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Confirm signup Class to Challenge - from modal
         */
        confirmSignUpModal() {
            this.getClassSignupStatus();
            this.getStudents();
            this.getClass();
            this.modalOpen = false;
        },
        /**
         * Register single user to the challenge
         *
         * @param classId
         * @param studentId
         */
        registerStudentToChallenge(classId, studentId) {
            Nova.request().get(`/nova-vendor/fwb-school-organisation/${classId}/student/${studentId}/signup`)
                .then((response) => {
                    Nova.success(this.__('Teilnehmer erfolgreich registriert!'));
                    this.initialLoading = true;
                    this.loading = true;
                    this.getClassSignupStatus();
                    this.getStudents();
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Open register modal
         */
        openRegisterModal() {
            this.modalOpen = true;
        },
        /**
         * Close register modal
         */
        closeRegisterModal() {
            this.modalOpen = false;
        },
        /**
         * Open search for students modal
         */
        openSearchStudentModal() {
            this.searchModalOpen = true;
        },
        /**
         * Close search for students modal
         */
        closeSearchStudentModal() {
            this.searchModalOpen = false;
        },
        /**
         * Add selected student from modal to the class
         *
         * @param event
         * @param classId
         */
        addStudent(event, classId) {
            let studentId = event.id;
            this.registerStudentToChallenge(classId, studentId);
            this.searchModalOpen = false;
        },
        /**
         * SignOff student from challenge
         *
         * @param studentId
         */
        signOffStudent(studentId) {
            let classId = this.$route.params.id;
            Nova.request().get(`/nova-vendor/fwb-school-organisation/${classId}/student/${studentId}/signoff`)
                .then((response) => {
                    Nova.success(this.__('Teilnehmer erfolgreich abgemeldet!'));
                    this.getClassSignupStatus();
                    this.getStudents();
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Open "import students from excel" modal
         */
        openImportStudentsModal() {
            this.importStudentsModal = true;
        },
        /**
         * Confirm "import students from excel" modal
         */
        confirmImportStudentsModal() {
            this.importStudentsModal = false;
            Nova.success(this.__('Import der Teilnehmer erfolgreich!'));
            this.initialLoading = true;
            this.loading = true;
            this.getStudents();
        },
        /**
         * Close "import students from excel" modal
         */
        closeImportStudentsModal() {
            this.importStudentsModal = false;
        },
        /**
         * Redirect to impersonated page
         *
         * @param student
         */
        impersonate(student) {
            window.open(
                `/nova-impersonate/users/${student.id}/${this.guard}?redirect_to=${student.impersonate_url}`,
                "_self"
            );
        },
        /**
         * Toggle dropdown for filtering
         */
        toggleDropdown() {
            this.dropdownVisible = !this.dropdownVisible;
        },
        /**
         * Close dropdown for filtering
         */
        closeDropdown() {
            this.dropdownVisible = false;
            this.$refs.filterButton.blur();
        },
        /**
         * Perform filtering
         */
        filterRegisteredOnly() {
            this.initialLoading = true;
            this.loading = true;
            this.getStudents();
        },
        /**
         * Open delete student modal
         */
        openDeleteStudentModal(student) {
            this.deletingStudentName = student.fullname;
            this.deletingStudentId = student.id;
            this.studentDeleteModalOpen = true;
        },
        /**
         * Close delete student modal
         */
        closeDeleteStudentModal() {
            this.studentDeleteModalOpen = false;
        },
        /**
         * Confirm delete student modal
         */
        confirmDeleteStudentModal() {
            Nova.request().delete(`/nova-vendor/fwb-school-organisation/student/${this.deletingStudentId}`)
                .then((response) => {
                    Nova.success(this.__('TeilnehmerIn erfolgreich gelöscht!'));
                    this.initialLoading = true;
                    this.loading = true;
                    this.getStudents();
                }).catch((error) => {
                    console.log(error);
                });
            this.studentDeleteModalOpen = false;
        }
    },
    mounted() {
        Nova.$emit('shepherd-single-class-page');
    },
    // Methods called once component is created
    created() {
        this.getClass();
        this.getStudents();
        this.getClassSignupStatus();
    },
}
</script>
