<template>
    <div>
        <!-- Heading and create button -->
        <div class="flex items-center mb-6">
            <heading class="flex">{{ __('Übersicht :resource', {'resource': __('Klassen')}) }}</heading>
        </div>
        <div class="flex items-center mb-6">
            <router-link
                class="btn btn-default btn-primary ml-auto inline-flex items-center relative"
                :to="{
                    name: 'fwb-school-organisation.class.create',
                }"
                :title="__('Create :resource', {'resource': __('Klassen')})"
                id="create-class-button"
            >
                {{ __('Create :resource', {'resource': __('Klassen')}) }}
            </router-link>
        </div>
        <!-- List of classes -->
        <div id="classes-card">
            <loading-view :loading="initialLoading">
                <loading-card :loading="loading" class="card">
                    <table v-if="Object.keys(classes).length > 0"
                           class="table w-full table-default"
                           cellpadding="0"
                           cellspacing="0"
                           data-testid="resource-table"
                    >
                        <thead>
                            <tr>
                                <th class="w-24 text-left">{{ __('id') }}</th>
	                            <th class="text-left">{{ __('Name') }}</th>
	                            <th class="text-left">{{ __('Schuljahr') }}</th>
	                            <th class="w-2/6 text-left">{{ __('Anmeldestatus') }}</th>
	                            <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(singleClass, index) in classes" :id="'class-table-row-' + index ">
                                <td>
                                    <router-link
                                        class="no-underline dim text-primary font-bold"
                                        :to="{
                                            name: 'fwb-school-organisation.class',
                                            params: {
                                                id: singleClass.id
                                            }
                                        }"
                                        :title="__('Klasse/Gruppe anzeigen')"
                                    >
                                        {{ singleClass.id }}
                                    </router-link>
                                </td>
                                <td>
                                    <router-link
                                        class="no-underline dim text-primary font-bold"
                                        :to="{
                                            name: 'fwb-school-organisation.class',
                                            params: {
                                                id: singleClass.id
                                            }
                                        }"
                                        :title="__('Klasse/Gruppe anzeigen')"
                                    >
                                        {{ singleClass.name }}
                                    </router-link>
                                </td>
                                <td v-if="singleClass.last_participated_challenge_year">
                                    {{ singleClass.last_participated_challenge_year - 1 }} / {{ singleClass.last_participated_challenge_year }}
                                </td>
                                <td v-else-if="singleClass.created_year">{{ singleClass.created_year - 1}} / {{ singleClass.created_year }}</td>
                                <td>
                                    <button v-if="singleClass.registered === false && singleClass.challenge !== null"
                                        class="btn btn-default btn-primary items-center"
                                        @click.prevent="openSignUpModal(singleClass)"
	                                >
	                                    {{ __('zur Aktion :aktion anmelden', { 'aktion': singleClass.challenge.description.de }) }}
	                                </button>
	                                <p v-else-if="singleClass.registered && singleClass.no_students_registered" class="text-90 my-2">
	                                    <span class="whitespace-no-wrap px-4 py-2 rounded-full uppercase text-xs font-bold bg-yellow-500 text-white">
	                                        {{ __('Klasse angemeldet Schülerzahl ausständig') }}
	                                    </span>
	                                </p>
	                                <p v-else-if="singleClass.registered" class="text-90 my-2">
	                                    <span class="whitespace-no-wrap px-4 py-2 rounded-full uppercase text-xs font-bold bg-green-500 text-white">
	                                        {{ __('zu Aktion :aktion angemeldet', { 'aktion': singleClass.challenge.description.de }) }}
	                                    </span>
	                                </p>
                                </td>
                                <td class="td-fit text-right pr-6 align-middle" :id="'table-row-class-actions-' + index">
                                    <div class="inline-flex items-center">
                                        <span class="inline-flex">
                                            <router-link
                                                class="cursor-pointer text-70 hover:text-primary"
                                                :to="{
                                                    name: 'fwb-school-organisation.class',
                                                    params: {
                                                        id: singleClass.id
                                                    }
                                                }"
                                                :title="__('Klasse/Gruppe anzeigen')"
                                            >
                                                <icon type="view" width="22" height="18" view-box="0 0 22 16" />
                                            </router-link>
                                        </span>&nbsp;&nbsp;&nbsp;
                                        <span class="inline-flex">
                                            <router-link
                                                class="cursor-pointer text-70 hover:text-primary"
                                                :to="{
                                                    name: 'fwb-school-organisation.class.edit',
                                                    params: {
                                                        id: singleClass.id
                                                    }
                                                }"
                                                :title="__('Klasse/Gruppe bearbeiten')"
                                            >
                                                <icon type="edit" width="20" height="20" view-box="0 0 20 20" />
                                            </router-link>
                                        </span>&nbsp;&nbsp;&nbsp;
                                        <span class="inline-flex">
                                            <a class="cursor-pointer text-70 hover:text-primary" :title="__('Klasse/Gruppe löschen')" @click.prevent="openDeleteClassModal(singleClass)">
                                                <icon type="delete" width="20" height="20" view-box="0 0 20 20" />
                                            </a>
                                        </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </td>
                                <portal to="modals">
                                    <transition name="fade">
                                        <register-to-challenge-modal
                                            v-if="signupModalOpen"
                                            :challenge-name="challengeName"
                                            :challenge-id="challengeId"
                                            :class-name="singleClassData.name"
                                            :class-id="singleClassData.id"
                                            @confirm="confirmSignUpModal()"
                                            @close="closeSignUpModal"
                                        />
                                        <delete-class-modal
                                            v-if="deleteModalOpen"
                                            :class-name="deletingClassName"
                                            @confirm="confirmDeleteClassModal"
                                            @close="closeDeleteClassModal"
                                        />
                                    </transition>
                                </portal>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else class="card">
                        <div class="relative">
                            <div class="flex justify-center items-center px-6 py-8">
                                <div class="text-center">
                                    <svg
                                        class="mb-3"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="65"
                                        height="51"
                                        viewBox="0 0 65 51"
                                    >
                                        <path
                                            fill="#A8B9C5"
                                            d="M56 40h2c.552285 0 1 .447715 1 1s-.447715 1-1 1h-2v2c0 .552285-.447715 1-1 1s-1-.447715-1-1v-2h-2c-.552285 0-1-.447715-1-1s.447715-1 1-1h2v-2c0-.552285.447715-1 1-1s1 .447715 1 1v2zm-5.364125-8H38v8h7.049375c.350333-3.528515 2.534789-6.517471 5.5865-8zm-5.5865 10H6c-3.313708 0-6-2.686292-6-6V6c0-3.313708 2.686292-6 6-6h44c3.313708 0 6 2.686292 6 6v25.049375C61.053323 31.5511 65 35.814652 65 41c0 5.522847-4.477153 10-10 10-5.185348 0-9.4489-3.946677-9.950625-9zM20 30h16v-8H20v8zm0 2v8h16v-8H20zm34-2v-8H38v8h16zM2 30h16v-8H2v8zm0 2v4c0 2.209139 1.790861 4 4 4h12v-8H2zm18-12h16v-8H20v8zm34 0v-8H38v8h16zM2 20h16v-8H2v8zm52-10V6c0-2.209139-1.790861-4-4-4H6C3.790861 2 2 3.790861 2 6v4h52zm1 39c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8z"
                                        />
                                    </svg>
                                    <h3 class="text-base text-80 font-normal mb-6">{{ __('Keine :resource vorhanden', {'resource': __('Klassen')}) }}</h3>
                                    <div>
                                        <router-link
                                            class="btn btn-sm btn-outline inline-flex items-center focus:outline-none focus:shadow-outline active:outline-none active:shadow-outline"
                                            :to="{
                                                name: 'fwb-school-organisation.class.create',
                                            }"
                                            title="__('Create :resource', {'resource': __('Klasse')})"
                                        >
                                            {{ __('Create :resource', {'resource': __('Klasse')}) }}
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </loading-card>
            </loading-view>
        </div>
    </div>
</template>
<script>
import DeleteClassModal from './DeleteClassModal.vue';
import RegisterToChallengeModal from './RegisterToChallengeModal.vue';

export default {
    data() {
        return {
            initialLoading: true,
            loading: true,
            classes: {},
            deleteModalOpen: false,
            deletingClassId: '',
            deletingClassName: '',
            signupModalOpen: false,
            singleClassData: {
                id: '',
                name: '',
            },
            challengeId: '',
            challengeName: '',
        }
    },
    components: {
        DeleteClassModal,
        RegisterToChallengeModal
    },

    methods: {
        /**
         * Get all classes
         */
        getClasses() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/classes')
                .then((response) => {
                    this.classes = response.data;
                    this.initialLoading = false;
                    this.loading = false;
                }).then(() => function () {
                    setTimeout(function () {
                        Nova.$emit('shepherd-classes-data-loaded');
                    }, 3000);
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Open signup modal to Challenge
         */
        openSignUpModal(singleClass) {
            this.singleClassData.id = singleClass.id;
            this.singleClassData.name = singleClass.name;
            this.challengeId = singleClass.challenge.id;
            this.challengeName = singleClass.challenge.description.de;
            this.signupModalOpen = true;
        },
        /**
         * Confirm signup Class to Challenge - from modal
         */
        confirmSignUpModal() {
            this.getClasses();
            this.signupModalOpen = false;
        },
        /**
         * Close signup modal
         */
        closeSignUpModal() {
            this.signupModalOpen = false;
        },
        /**
         * Open delete modal for Class
         *
         * @param index
         * @param singleClass
         */
        openDeleteClassModal(singleClass) {
            this.deletingClassName = singleClass.name;
            this.deletingClassId = singleClass.id;
            this.deleteModalOpen = true;
        },
        /**
         * Confirm deletion of the Class from modal
         * Perform deletion from DB
         */
        confirmDeleteClassModal() {
            Nova.request().delete(`/nova-vendor/fwb-school-organisation/class/${this.deletingClassId}`)
                .then((response) => {
                    Nova.success(this.__('Klasse/Gruppe erfolgreich gelöscht!'));
                    this.initialLoading = true;
                    this.loading = true;
                    this.getClasses();
                }).catch((error) => {
                    console.log(error);
                });
            this.deleteModalOpen = false;
        },
        /**
         * Close Class deletion modal
         */
        closeDeleteClassModal() {
            this.deleteModalOpen = false;
        }
    },
    updated() {
        Nova.$emit('shepherd-classes-page');
    },
    // Methods loaded when component has been created
    created() {
        this.getClasses()
    },
}
</script>
