<template>
    <loading-view :loading="initialLoading">
        <form @submit.prevent="updateClass()">
            <div class="mb-8">
                <!-- Heading -->
                <div class="flex items-center mb-3">
                    <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('Edit :resource', {'resource': __('Klasse')}) }}</h1>
                </div>
                <!-- Input fields -->
                <div class="card">
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="name" class="inline-block text-80 pt-2 leading-tight">{{ __('Name der Klasse') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" id="name" v-model="singleClass.class_name" :placeholder="__('Name der Klasse')">
                            <div class="help-text help-text mt-2">
                                {{ __('Hilfetext Klasse Schuljahr') }}
                            </div>
                            <div v-if="hasErrors && errors.class_name" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.class_name">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="number_of_people" class="inline-block text-80 pt-2 leading-tight">{{ __('Schüleranzahl') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" id="number_of_people" v-model="singleClass.number_of_people" :placeholder="__('Schüleranzahl')">
                            <div class="help-text help-text mt-2">
                                {{ __('Hilfetext Klasse Schüleranzahl') }}
                            </div>
                            <div v-if="hasErrors && errors.number_of_people" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.number_of_people">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="flex items-center">
                <a class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6" @click.prevent="goBack">{{ __('Cancel') }}</a>
                <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative">{{ __('Update :resource', {'resource': __('Klasse')}) }}</button>
            </div>
        </form>
    </loading-view>
</template>

<script>
export default {
    data() {
        return {
            initialLoading: true,
            loading: false,
            singleClass: {
                class_name: '',
                number_of_people: ''
            },
            errors: {},
        }
    },
    methods: {
        /**
         * Get class
         */
        getClass() {
            Nova.request().get(`/nova-vendor/fwb-school-organisation/class/${this.$route.params.id}`)
                .then((response) => {
                    this.singleClass.class_name = response.data.name;
                    this.singleClass.number_of_people = response.data.number_of_people;
                    this.initialLoading = false;
                }).catch((error) => {
                    console.log(error)
                })
        },
        /**
         * Update class
         */
        updateClass() {
            Nova.request().put(`/nova-vendor/fwb-school-organisation/class/${this.$route.params.id}`, this.singleClass)
                .then((response) => {
                    if (response.data.errors !== undefined && Object.keys(response.data.errors).length > 0) {
                        this.errors = response.data.errors;
                    } else {
                        this.$router.push({
                            name: 'fwb-school-organisation.classes'
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Go back to the previous page
         */
        goBack() {
            this.$router.go(-1);
        },
    },
    created() {
        this.getClass()
    },
    /**
     * Computed method for checking if errors exist
     */
    computed: {
        hasErrors() {
            return Object.keys(this.errors).length > 0;
        }
    }
}
</script>
