<template>
    <modal @modal-close="handleCloseModal">
        <form
            @submit.prevent="handleConfirmModal"
            class="bg-white rounded-lg shadow-lg overflow-hidden"
            style="width: 460px"
        >
            <div>
                <h2 class="border-b-2 border-40 py-8 px-8 text-90 font-normal text-xl">{{ __('TeilnehmerIn löschen') }}?</h2>
                <div class="bg-30 px-6 py-3 flex border-b border-40">
                    <p class="text-80 leading-normal">{{ __('Löschen der :teilnehmerIn bestätigen', { 'teilnehmerIn': studentName }) }}</p>
                </div>
                <div class="bg-30 px-6 py-3 flex border-b border-40">
                    <div class="ml-auto">
                        <button type="button" data-testid="cancel-button" dusk="cancel-general-button" @click.prevent="handleCloseModal" class="btn text-80 font-normal h-9 px-3 mr-3 btn-link">{{ __('No') }}</button>
                        <button id="confirm-delete-button" ref="confirmButton" data-testid="confirm-button" type="submit" class="btn btn-default btn-danger">{{ __('Yes') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </modal>
</template>

<script>
export default {
    name: "DeleteStudentModal",
    props: [
        'studentName'
    ],
    methods: {
        handleCloseModal() {
            this.$emit('close')
        },
        handleConfirmModal() {
            this.$emit('confirm')
        },
    },
    /**
     * Mount the component.
     */
    mounted() {
        this.$refs.confirmButton.focus()
    },
}
</script>

<style scoped>

</style>
