<template>
    <modal @modal-close="handleClose">
        <form
            @submit.prevent="handleConfirm"
            class="bg-white rounded-lg shadow-lg overflow-hidden"
        >
            <div>
                <h2 class="border-b-2 border-40 py-8 px-8 text-90 font-normal text-xl">{{ __('nach TeilnehmerIn suchen') }}</h2>
                <div class="flex border-b border-40">
                    <!-- Label -->
                    <div class="w-1/5 px-8 py-6">
                        <label for="student">{{ __('Name der TeilnehmerIn') }}</label>
                    </div>
                    <!-- Input search -->
                    <div class="py-6 px-8 w-full">
                        <div :class="{ 'opacity-75': disabled }"
                             v-on-clickaway="closeSearch"
                        >
                            <div class="relative">
                                <div
                                    ref="input"
                                    @click="openSearch"
                                    @focus="openSearch"
                                    @keydown.down.prevent="openSearch"
                                    @keydown.up.prevent="openSearch"
                                    :class="{
                                        focus: show,
                                        'form-select': shouldShowDropdownArrow,
                                        disabled,
                                    }"
                                    class="flex items-center form-control form-input form-input-bordered pr-6"
                                    :tabindex="show ? -1 : 0"
                                >
                                    <p v-if="selected">{{ selectedStudent.fullname }}</p>
                                </div>
                                <button
                                    type="button"
                                    @click.stop="clearSelected"
                                    v-if="!shouldShowDropdownArrow && !disabled"
                                    tabindex="-1"
                                    class="absolute p-2 inline-block"
                                    style="right: 4px; top: 6px"
                                >
                                    <svg
                                        class="block fill-current icon h-2 w-2"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="278.046 126.846 235.908 235.908"
                                    >
                                        <path
                                            d="M506.784 134.017c-9.56-9.56-25.06-9.56-34.62 0L396 210.18l-76.164-76.164c-9.56-9.56-25.06-9.56-34.62 0-9.56 9.56-9.56 25.06 0 34.62L361.38 244.8l-76.164 76.165c-9.56 9.56-9.56 25.06 0 34.62 9.56 9.56 25.06 9.56 34.62 0L396 279.42l76.164 76.165c9.56 9.56 25.06 9.56 34.62 0 9.56-9.56 9.56-25.06 0-34.62L430.62 244.8l76.164-76.163c9.56-9.56 9.56-25.06 0-34.62z"
                                        />
                                    </svg>
                                </button>
                            </div>
                            <div v-if="show"
                                 class="form-input px-0 border border-60 pin-t pin-l my-1 overflow-hidden"
                                 :style="{ zIndex: 2000 }"
                            >
                                <div class="p-2 bg-grey-300">
                                    <input :disabled="disabled"
                                           v-model="search.query"
                                           @input="searchForStudent"
                                           ref="search"
                                           tabindex="-1"
                                           type="text"
                                           class="outline-none search-input-input w-full px-2 py-1.5 text-sm leading-normal bg-white rounded"
                                           spellcheck="false"
                                           placeholder="Suchen"
                                    >
                                </div>
                                <div
                                    v-if="response"
                                    ref="container"
                                    class="search-input-options relative overflow-y-scroll scrolling-touch text-sm"
                                    tabindex="-1"
                                    style="max-height: 155px"
                                >
                                    <div
                                        v-for="(student,index) in students"
                                        class="px-4 py-2 cursor-pointer"
                                        @click="choose(student,index)"
                                        :ref="index === selected ? 'selected' : null"
                                        :class="{
                                            [`search-input-item-${index}`]: true,
                                            'hover:bg-30': index !== selected,
                                            'bg-primary text-white': index === selected,
                                        }"
                                    >
                                        <p
                                            :selected="index === selected"
                                        >
                                            {{ student.fullname }}
                                            <span :class="{ 'whitespace-no-wrap font-bold uppercase text-xs rounded-full px-3 py-1': true,
                                                            'text-white bg-yellow-500': student.registration_class}"
                                            >
                                                {{ student.registration_class ? __('für die Aktion in der Klasse/Gruppe :class registriert',{ 'class': student.registration_class.name }) : __('nicht für die aktion registriert')}}
                                            </span>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Help text -->
                        <div class="help-text help-text mt-2">
                            {{ __('Suche hier nach Schülern/Personen im sie zu deiner Klasse/Gruppe hinzuzufügen.') }}
                        </div>
                    </div>
                </div>
                <div class="bg-30 px-6 py-3 flex">
                    <div class="ml-auto">
                        <a data-testid="cancel-button" dusk="cancel-general-button" @click.prevent="handleClose" class="btn text-80 font-bold h-9 px-3 mr-3 btn-link">{{ __('Abbrechen') }}</a>
                        <button id="add-student-button" ref="addStudentButton" data-testid="add-student-button" type="submit" class="btn btn-default btn-primary inline-flex items-center relative">{{ __('TeilnehmerIn hinzufügen') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </modal>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import Vue from "vue";

export default {
    name: "SearchStudentModal",

    mixins: [clickaway],

    data() {
        return {
            students: {},
            search: {
                query: ''
            },
            response: false,
            show: false,
            selected: 0,
            selectedStudent: null,
            disabled: false,
        }
    },

    methods: {
        /**
         * Handle close of the modal
         */
        handleClose() {
            this.$emit('close-search-modal');
        },
        /**
         * Handle confirmation of the modal
         */
        handleConfirm() {
            this.$emit('add-student', this.selectedStudent);
        },
        /**
         * Search for student
         */
        searchForStudent() {
            Nova.request().post(`/nova-vendor/fwb-school-organisation/available-students/${this.$route.params.id}`, this.search)
                .then((response) => {
                    if (Object.keys(response.data).length > 0) {
                        this.students = response.data;
                        this.response = true;
                    } else {
                        this.students = null;
                        this.response = false;
                    }
                });
        },
        /**
         * Open search input
         */
        openSearch() {
            if (!this.disabled) {
                this.show = true;
                this.$refs.search.focus();
            }
        },
        /**
         * Close search input
         */
        closeSearch() {
            this.show = false
        },
        /**
         * Clear selected person
         */
        clearSelected() {
            if (!this.disabled) {
                this.selected = null;
                this.selectedStudent = null;
                this.$emit('clear', null);
            }
        },
        /**
         * Choose person from list
         *
         * @param student
         * @param index
         */
        choose(student, index) {
            this.selected = index;
            this.selectedStudent = student;
            this.$emit('selected', student);
            Vue.nextTick(() => this.closeSearch());
            this.$refs.addStudentButton.focus();
        },
    },

    computed: {
        shouldShowDropdownArrow() {
            return this.selectedStudent == null
        },
    },
}
</script>

<style scoped>

</style>
