<template>
    <div class="card w-5/5 h-1/5 border-md px-4 py-4">
        <div class="flex flex-row">
            <h3 class="flex-no-shrink text-90 font-normal text-2xl align-middle">{{ __('Statistik der Klassen / Gruppen') }}</h3>
            <a @click.prevent="loadChartData" class="btn border border-gray-300 btn-default bg-gray-200 ml-auto">
                <svg class="w-5 h-5 align-middle" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
                </svg>
            </a>
        </div>
        <div class="flex flex-row">
            <bar-chart
                class="w-full"
                v-if="chartLoaded"
                :chartdata="chartData"
                :options="options"/>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import BarChart from './Statistics/Chart.vue'

export default {
    components: {
        BarChart
    },
    data() {
        return {
            chartLoaded: false,
            chartData: {},
            classes: {},
            classId: null,
            options: {},
            loggedInUser: null,
        }
    },
    methods: {
        getClasses() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/classes')
                .then((response) => {
                    this.classes = response.data;
                    this.classId = this.classes[0].id;
                }).catch((error) => {
                    console.log(error);
                });
        },
        getLoggedInUser() {
            return Nova.request().get('/nova-vendor/fwb-school-organisation/user')
                .then((response) => {
                    this.loggedInUser = response.data;
                }).catch((error) => {
                    console.log(error);
                });
        },
        redirectToOverviewPage() {
            this.$router.push({
                name: 'fwb-school-organisation'
            });
        },
        redirectToClassesOverview() {
            this.$router.push({
                name: 'fwb-school-organisation.classes'
            });
        },
        redirectToClassCreate() {
            this.$router.push({
                name: 'fwb-school-organisation.class.create'
            });
        },
        redirectToSingleClass() {
            this.$router.push({
                name: 'fwb-school-organisation.class',
                params: {
                    id: this.classId
                }
            })
        },
        redirectToStudentCreate() {
            this.$router.push({
                name: 'fwb-school-organisation.student.create',
                params: {
                    id: this.classId
                }
            })
        },
        async loadChartData() {
            this.chartLoaded = false
            Nova.request().get('/nova-vendor/fwb-school-organisation/classes-statistics')
                .then((response) => {
                    this.setChartData(response);
                    this.setChartOptions();
                    this.chartLoaded = true
                }).catch((error) => {
                    console.log(error);
                });
        },
        setChartData(response) {
            // Set class labels for chart
            this.chartData.labels = response.data.labels;

            // Initialize arrays and variables
            let participantsData = [];
            let kmTotalData = [];
            let numberOfPeople;
            let kmTotal;
            // Create data arrays from API response
            Object.keys(response.data.statistics).forEach(function (key, value) {
                // If there is no statistics for class, set initial number
                // to 0 for both, number of people and total km
                if (response.data.statistics[key] == false) {
                    numberOfPeople = 0;
                    kmTotal = 0
                } else { // Otherwise use value from from API stats response
                    numberOfPeople = response.data.statistics[key].number_of_people;
                    kmTotal = response.data.statistics[key].km_total;
                }
                // Push value in array
                participantsData.push(numberOfPeople);
                kmTotalData.push(kmTotal);
            });

            // Set chart data
            this.chartData.datasets = [
                {
                    label: this.__('aktive Teilnehmer'),
                    backgroundColor: '#f87979',
                    data: participantsData
                },
                {
                    label: this.__('Gesamtkilometer'),
                    backgroundColor: '#e8a217',
                    data: kmTotalData
                }
            ];
        },
        setChartOptions() {
            this.options = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        },
    },
    created() {
        this.getClasses();
    },
    mounted() {
        Nova.$emit('shepherd-overview-page');

        // Get logged in User then start Guided tour
        this.getLoggedInUser()
            .then(() => {
                this.$nextTick(() => {
                    const tour = this.$shepherd({
                        exitOnEsc: true,
                    });

                    let self = this;

                    tour.addStep({
                        attachTo: { element: '#class-overview-label', on: 'right' },
                        title: this.__('Schuladmin Tour Navigation Titel'),
                        text: this.__('Schuladmin Tour Navigation Text'),
                        buttons: [
                            {
                                async action() {
                                    await self.redirectToClassesOverview();
                                    Nova.$on('shepherd-classes-page', () => {
                                        return this.next();
                                    })
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }

                    });

                    tour.addStep({
                        attachTo: { element: '#create-class-button', on: 'left' },
                        title: this.__('Schuladmin Tour Klassenübersicht erstellen Button Titel'),
                        text: this.__('Schuladmin Tour Klassenübersicht erstellen Button Text'),
                        buttons: [
                            {
                                async action() {
                                    await self.redirectToClassCreate();
                                    Nova.$on('shepherd-create-class-page', () => {
                                        return this.next();
                                    })
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#shepherd-class-create-card', on: 'left' },
                        title: this.__('Schuladmin Tour Klasse anlegen Felder Titel'),
                        text: this.__('Schuladmin Tour Klasse anlegen Felder Text'),
                        buttons: [
                            {
                                action() {
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#shepherd-class-create-button', on: 'bottom' },
                        title: this.__('Schuladmin Tour Klasse anlegen speichern Button Titel'),
                        text: this.__('Schuladmin Tour Klasse anlegen speichern Button Text'),
                        buttons: [
                            {
                                action () {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                async action() {
                                    await self.redirectToClassesOverview();
                                    self.pause = true;
                                    Nova.$on('shepherd-classes-data-loaded', () => {
                                        return this.next();
                                    })
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            }
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#class-table-row-0', on: 'left' },
                        title: this.__('Schuladmin Tour Klassenübersicht Eintrag Titel'),
                        text: this.__('Schuladmin Tour Klassenübersicht Eintrag Text'),
                        buttons: [
                            {
                                action() {
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#table-row-class-actions-0', on: 'top' },
                        title: this.__('Schuladmin Tour Klassenübersicht Eintrag bearbeiten Titel'),
                        text: this.__('Schuladmin Tour Klassenübersicht Eintrag bearbeiten Text'),
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                async action() {
                                    await self.redirectToSingleClass();
                                    Nova.$on('shepherd-single-class-page', () => {
                                        return this.next();
                                    });
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#single-class-name', on: 'left' },
                        title: this.__('Schuladmin Tour Klasse Detailansicht Titel'),
                        text: this.__('Schuladmin Tour Klasse Detailansicht Text'),
                        buttons: [
                            {
                                action() {
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#create-student-button', on: 'top' },
                        title: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmer erstellen Button Titel'),
                        text: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmer erstellen Button Text'),
                        buttons: [
                            {
                                action () {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                async action() {
                                    await self.redirectToStudentCreate();
                                    Nova.$on('shepherd-create-student-page', () => {
                                        return this.next();
                                    })
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#create-student-card', on: 'left' },
                        title: this.__('Schuladmin Tour Teilnehmer anlegen Felder Titel'),
                        text: this.__('Schuladmin Tour Teilnehmer anlegen Felder Text'),
                        buttons: [
                            {
                                action() {
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#create-student-button', on: 'top' },
                        title: this.__('Schuladmin Tour Teilnehmer anlegen speichern Button Titel'),
                        text: this.__('Schuladmin Tour Teilnehmer anlegen speichern Button Text'),
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                async action() {
                                    await self.redirectToSingleClass();
                                    Nova.$on('shepherd-class-data-loaded', () => {
                                        return this.next();
                                    })
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#students-table', on: 'top' },
                        title: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmerliste Titel'),
                        text: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmerliste Text'),
                        buttons: [
                            {
                                action() {
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#challenge-signup-status', on: 'bottom' },
                        title: this.__('Schuladmin Tour Klasse Detailansicht Anmeldestatus Titel'),
                        text: this.__('Schuladmin Tour Klasse Detailansicht Anmeldestatus Text'),
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                action() {
                                    Nova.$emit('shepherd-modal-open');
                                    return this.next();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('weiter'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    tour.addStep({
                        attachTo: { element: '#student-signup-status', on: 'top' },
                        title: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmer Anmeldestatus Titel'),
                        text: this.__('Schuladmin Tour Klasse Detailansicht Teilnehmer Anmeldestatus Text'),
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'btn btn-link mr-4 text-90',
                                text: this.__('zurück'),
                            },
                            {
                                action() {
                                    return this.complete();
                                },
                                classes: 'btn btn-default btn-primary inline-flex items-center relative',
                                text: this.__('fertig'),
                            },
                        ],
                        cancelIcon: {
                            enabled: true
                        }
                    });

                    // Check if tour should start
                    if (self.shouldStartTour) {
                        tour.start();
                    }

                    window.tour = tour;

                    // Set cookie on close/cancel/complete
                    ['close', 'cancel', 'complete'].forEach(event => tour.on(event, () => {
                        self.$cookie.set('completed-nova-guided-tour', self.loggedInUser.id, '365');
                    }));
                });

                this.loadChartData();
            });
    },
    computed: {
        /**
         * Check if tour should start
         *
         * @returns {boolean}
         */
        shouldStartTour() {
            if (this.$cookie.get('completed-nova-guided-tour') != null) {
                if (this.$cookie.get('completed-nova-guided-tour') != this.loggedInUser.id) {
                    return true;
                }
                return false;
            }
            return true;
        }


    }
}
</script>
